@font-face {
    font-family: "FS Pro";
    src: url("./SF-Pro.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
body {
    font-family: "FS Pro";
    font-optical-sizing: auto;
    margin: 0;
    background-color: rgb(0, 0, 0);
}
section {
    overflow: hidden;
}
* {
    box-sizing: border-box;
}
.sec1 {
    overflow-x: clip;
    margin-top: -6px;
    color:white;
    background-color: #000000;
}
.sec2 {
    margin-top: -150px;
    padding-bottom: 95px;
    background-color: #000000;
}
.sec3 {
    padding-top: 95px;
    padding-bottom: 95px;
    background: linear-gradient(#00000000, #0C1247, #30337D 18%, #505DAD 33%, #7D8ED1 49%, #AEBCE6 73%, #ffffff);
}
.sec4 {
    background-color: white;
    margin: 0;
    padding: 0;
    padding-top: 95px;
}
video {
    width: 100%;
    border-radius: 64px;
}
#img img {
    cursor: pointer;
    width: 95%;
    border-radius: 32px;
    transition: 0.5s ease-in-out;
}
#img img:hover {
    width: 100%;
    border-radius: 32px;
}
.sli {
    width: 405px;
    height: 804px;
    text-align: center;
    margin-right: 24px;
    display: block;
    unicode-bidi: isolate;
}
.slider {
    padding: 0;
    display: flex;
    align-items: center;
    padding-bottom: 90px;
    width: 1810px;
}
.sli-ul {
    display: flex;
    margin: 0;
    list-style: none;
    row-gap: 0px;
    transition: 4s ease-in-out;
}
.sli-ul:hover {
    transform: translate(-1700px, 0);
}
@keyframes uli {
    0% {
        transform: translate(0px, 0);
    }

    50% {
        transform: translate(-1700px, 0);
    }

    100% {
        transform: translate(0px, 0);
    }
}
.sli-ul li {
    display: list-item;
    text-align: center;
    unicode-bidi: isolate;
}
.con {
    max-width: 1000px;
    margin: 0 auto;
}
.con2 {
    max-width: 1700px;
    margin: 0 auto;
}
.con3 {
    max-width: 1700px;
    margin: 0 auto;
}
header {
    background-color: rgb(22, 22, 23);
    text-align: center;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#he{
    display: none;
    background-color: rgb(255, 255, 255);
    text-align: center;
    position: static;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
}
#he a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 300;
}
#he input {
    color: rgb(0, 0, 0);
}
#he.dark {
    background-color: rgb(0, 0, 0);
}
#he.dark a {
    color: white;
}
#he.dark {
    color: white;
}
#hi {
    background-color: rgb(255, 255, 255);
    text-align: center;
    position: static;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
}
#hi a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 300;
}
#hi input {
    color: rgb(0, 0, 0);
}
#hi.dark {
    background-color: rgb(0, 0, 0);
}
#hi.dark a {
    color: white;
}
#hi.dark {
    color: white;
}
#items.dark{
    background-color: #000000;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 300;
}
.text {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    padding-top: 80px;
}
.text h1 {
    font-size: 80px;
    line-height: 1.05;
    font-weight: 600;
    letter-spacing: -0.015em;
    margin: 0;

}
.text-r {
    text-align: right;
    align-self: flex-end;
    padding-block: 8px;
    max-width: 400px;
    height: auto;
    font-size: 28px;
    line-height: 1.1428571429;
    font-weight: 600;
    letter-spacing: .007em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    margin: 0;
    padding: 0;
}
.white {
    background-color: white;
}
.white.dark {
    background-color: black;
    color: white;
}
.white iframe {
    border-radius: 64px;
    width: 100%;
    margin-bottom: 120px;
}
.head-link {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-link a {
    opacity: 0.9;
    font-weight: 300;
}
.head-link a:hover {
    opacity: 1;
}
.head-grup{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#sh {
    display: block;
}
#cl {
    display: none;
}
#clo{
    display: none;
}
.modal {
    text-align: left;
    display: none;
    justify-content: space-between;
    align-items: center;
}
.modal svg {
    margin-right: 12px;
}
.modal input {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    font-size: 28px;
    margin-right: 16px;
    padding: 4px;
    color: #fafafcc0;
    width: 100%;
    border-radius: 100px;
    margin-bottom: 12px;
    margin-top: 12px;
}
.modal button {
    font-size: 16px;
    background-color: white;
    border: 1px solid black;
    padding: 12px 24px;
    border-radius: 100px;
}
#hi svg {
    fill: rgb(0, 0, 0);
    opacity: 0.9;
}
#hi.dark svg {
    fill: rgb(255, 255, 255);
    opacity: 0.9;
}
#he svg {
    fill: rgb(0, 0, 0);
    opacity: 0.9;
}
#he.dark svg {
    fill: rgb(255, 255, 255);
    opacity: 0.9;
}
#he.dark polyline {
    color: rgb(255, 255, 255);
    opacity: 0.9;
}
#svg:hover {
    opacity: 1;
}
svg {
    fill: white;
    opacity: 0.9;
}
polyline{
    color: rgb(0, 0, 0);
    opacity: 0.9;
    fill: none;
}
svg:hover {
    opacity: 1;
}
polyline:hover {
    opacity: 1;
}
.first {
    text-align: center;
    color: white;
    margin-bottom: 24px;
}
.first h2 {
    font-size: 32px;
    line-height: 1.25;
    font-weight: 600;
    margin: 0;
    margin-bottom: 51px;
    margin-top: -50px;
}
.mob{
    display: none;
}
.a {
    padding: 17px 30px;
    border: 1px solid white;
    border-radius: 100px;
    color: white;
    font-size: 17px;
    line-height: 1.1764805882;
    font-weight: 400;
    background-color: #00000000;
}
.a:hover {
    color: black;
    background-color: white;
}
.a-b {
    padding: 17px 30px;
    border: 1px solid #1d1d1f;
    border-radius: 100px;
    color: #1d1d1f;
    font-size: 17px;
    line-height: 1.1764805882;
    font-weight: 400;
    background-color: #00000000;
}
.a-b:hover {
    color: white;
    background-color: #1d1d1f;
}
.second {
    text-align: center;
    background-image: url("./image/2.jpg");
    width: 1440px;
    height: 1130px;
    margin: 0 auto;
}
h3 {
    font-size: 64px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: -0.009em;
    color: white;
}
.sec-h3 {
    padding-top: 280px;
}
.sec2 img {
    margin-top: -200px;
}
.sec2 p {
    color: rgba(255, 255, 255, 0.65);
    max-width: 808px;
    font-size: 24px;
    line-height: 1.1666666667;
    font-weight: 600;
    letter-spacing: .009em;
    margin: 0 auto;
    padding-top: 300px;
    padding-bottom: 24px;
}
.pmin {
    font-size: 17px;
    line-height: 1.4705882353;
    font-weight: 500;
    letter-spacing: -0.022em;
    color: #fafafc;
}
.pmin-b {
    font-size: 17px;
    line-height: 1.4705882353;
    font-weight: 500;
    letter-spacing: -0.022em;
    color: #1d1d1f;
}
.pmin-c {
    font-size: 17px;
    line-height: 1.4705882353;
    font-weight: 500;
    letter-spacing: -0.022em;
    color: #000000;
}
.but {
    display: flex;
    justify-content: center;
    margin-top: 34px;
    column-gap: 20px;
}
.third {
    text-align: center;
    margin: 0;
    padding: 0;
}
.th-img {
    margin-top: -110px;
}
.sec3 p {
    color: #1e1e1e;
    max-width: 808px;
    font-size: 24px;
    line-height: 1.1666666667;
    font-weight: 600;
    letter-spacing: .009em;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 24px;
}
.con-footer {
    width: 1024px;
    padding: 0 22px;
    margin: 0 auto;
}
.w1 {
    color: #000000;
    font-size: 28px;
    line-height: 1.14286;
    font-weight: 400;
    letter-spacing: .007em;
    margin: 0;
    margin-top: 12px;
}
#t11 {
    font-size: 48px;
}
#t11 samp {
    opacity: 0.6;
}
.w2 {
    font-size: 21px;
    line-height: 1.19048;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #6e6e73;
    margin: 0;
    margin-top: 12px;
}
.watch {
    margin-top: 128px;
}
footer {
    font-size: 12px;
    line-height: 1.3333733333;
    font-weight: 400;
    letter-spacing: -0.01em;
    background-color: rgb(245, 245, 247);
    color: rgba(0, 0, 0, 0.56);
}
footer.dark {
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.56);
}
footer.dark .fo-2 h3 {
    color: rgba(255, 255, 255, 0.7);
}
footer.dark .fo-2 a {
    color: rgba(255, 255, 255, 0.65);
}
ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    margin-top: 0;
    padding-top: 12px;
    list-style: none;
    align-items: center;
}
li {
    padding-bottom: .8em;
}
ol {
    list-style-position: outside;
    margin: 0;
    padding: 0 27px;
    align-items: center;
}
.footer-1 {
    padding-bottom: 11px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.56);
}
.footer-2 {
    padding-top: 20px;
    justify-content: space-between;
    display: flex;
}
.fo-1 {
    width: 20%;
}
.fo-2 {
    text-align: left;
}
.fo-2 h3 {
    font-size: 12px;
    line-height: 1.3333733333;
    font-weight: 700;
    letter-spacing: -0.01em;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-bottom: .8em;
    margin-inline-end: 20px;
    outline: none;
    color: rgba(0, 0, 0, 0.7);
}
.fo-2 a {
    color: rgba(0, 0, 0, 0.65);
}
.fo-2 ul {
    padding: 0;
}
.fo-2 li {
    padding: 4px;
}
.fot-1 {
    font-size: 12px;
    padding-bottom: 19px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.56);
    color: rgba(0, 0, 0, 0.56);
}
.fot-1 a {
    padding: auto;
    border: 0px solid white;
    border-radius: 0;
    color: #0071e3;
}
.fot-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fot-2 a {
    color: rgba(0, 0, 0, 0.7);
}
.fot-2 ul {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}
.footer-4 {
    display: flex;
    justify-content: center;
    padding-top: 6px;
    padding-bottom: 16px;
}
.footer-4 button {
    margin: 12px;
    padding: 16px;
    border-radius: 4px;
    border: 0;
    background-color: #00000000;
    transition: 0.5s ease-in-out;
}
.footer-4 button:hover {
    margin: 12px;
    padding: 16px;
    margin-left: 24px;
    margin-right: 24px;
    border-radius: 48px;
    border: 0;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.26);
}
.footer-4 button:hover img {
    width: 52px;
    opacity: 0.8;
}
.footer-4 img {
    width: 36px;
    opacity: 0.65;
    transition: 0.5s ease-in-out;
}
.t {
    margin: 0;
    padding: 0;
    font-size: 0;
}
.but-top {
    position: fixed;
    top: 90%;
    left: 95%;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 0.5s, opacity 0.5s;
}
.but-top1 {
    position: fixed;
    top: 90%;
    left: 0%;
}
.but-top1 button {
    font-size: 32px;
    margin: 24px;
    border: 0px;
    border-radius: 16px;
    padding: 12px 24px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.26);
    background-color: white;
    transition: 0.5s ease-in-out;
}
.but-top1 button:hover {
    border: 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 32px;
    box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.4);
}
.but1 {
    margin: 24px;
    padding: 12px 14px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.26);
    transition: 0.5s ease-in-out;
}
.but1:hover {
    margin: 24px;
    padding: 12px 14px;
    background-color: rgb(255, 255, 255);
    border-radius: 32px;
    box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.4);
}
.but-top img {
    width: 32px;
    transform: rotate(-90deg);
}
.mask {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.mask svg {
    position: relative;
    width: 100px;
    height: 100px;
    animation: r 2s linear infinite;
}
.mask svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 6;
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 340;
    animation: n 2s linear infinite;
}
.hide {
    opacity: 0;
}
@keyframes r {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes n {
    0%,
    100% {
        stroke-dashoffset: 340;
    }
    30% {
        stroke-dashoffset: 0;
    }
    30.001% {
        stroke-dashoffset: 680;
    }
}
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-track {
    background-color: #000000;
}
::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 100px;
    transition: 1s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 100px;
}
@media (max-width: 1750px) {
    .con2 {
        max-width: 1400px;
        margin: 0 auto;
    }
    .con3 {
        max-width: 1400px;
        margin: 0 auto;
    }
    .but-top {
        position: fixed;
        top: 90%;
        left: 90%;
    }
}
@media (max-width: 1500px) {
    .con2 {
        max-width: 1000px;
        margin: 0 auto;
    }
    .con3 {
        max-width: 1000px;
        margin: 0 auto;
    }
    .second {
        background-image: none;
        width: 800px;
        height: auto;
        margin: 0 auto;
    }
    .sec2 p {
        color: rgba(255, 255, 255, 0.65);
        max-width: 808px;
        font-size: 24px;
        line-height: 1.1666666667;
        font-weight: 600;
        letter-spacing: .009em;
        margin: 0 auto;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .t-img{
        width: 800px;
    }
    .watch {
        width: 800px;
    }
}
@media (max-width: 1050px) {
    .con {
        max-width: 800px;
        margin: 0 auto;
    }
    .con2 {
        max-width: 800px;
        margin: 0 auto;
    }
    .con3 {
        max-width: 800px;
        margin: 0 auto;
    }
    .con-footer{
        width: 800px;
    }
    .but-top {
        position: fixed;
        top: 90%;
        left: 87%;
    }
    .footer-2 {
        padding-top: 20px;
        justify-content: baseline;
        display: block;
        text-align: center;
    }
    .fo-1{
        width: 500px;
        margin: 0 auto;
    }
    .fo-2 {
        text-align: center;
    }
    .fo-2 h3 {
        font-size: 18px;
    }
    .fo-2 a{
        font-size: 16px;
    }
    .footer-3{
        display: none;
    }
    video {
        width: 100%;
        border-radius: 32px;
    }
    .text {
        display: block;
        justify-content: space-between;
        padding-bottom: 80px;
        padding-top: 80px;
    }
    .text-r {
        text-align: left;
        padding-block: 8px;
        max-width: 400px;
        height: auto;
        font-size: 28px;
    }
}
@media (max-width: 900px){
    .second {
        background-image: none;
        width: auto;
        height: auto;
        margin: 0 32px;
    }
    .third{
        width: auto;
        margin: 0 32px;
    }
    .sec2 p {
        color: rgba(255, 255, 255, 0.65);
        max-width: 808px;
        font-size: 24px;
        line-height: 1.1666666667;
        font-weight: 600;
        letter-spacing: .009em;
        margin: 0 auto;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .t-img{
        width: 80%;
    }
    .watch {
        width: 80%;
    }
    .con {
        width: auto;
        margin: 0 32px;
    }
    .con2 {
        width: auto;
        margin: 0 20px;
    }
    .con3 {
        max-width: 900px;
        margin: 0 auto;
    }
    .con-footer{
        width: auto;
        margin: 0 32px;
    }
    .but-top {
        position: fixed;
        top: 90%;
        left: 85%;
    }
    .but-top1 {
        position: fixed;
        top: 90%;
        left: 0%;
    }
    .footer-2 {
        padding-top: 20px;
        justify-content: baseline;
        display: block;
        text-align: center;
    }
    .fo-1{
        width: auto;
        margin: 0 32px;
    }
    .fo-2 {
        text-align: center;
    }
    .footer-3{
        display: none;
    }
    video {
        width: 100%;
        border-radius: 0px;
    }
    .text {
        display: block;
        justify-content: space-between;
        padding-bottom: 80px;
        padding-top: 80px;
    }
    .text-r {
        text-align: left;
        padding-block: 8px;
        max-width: 600px;
        height: auto;
        font-size: 28px;
    }
    .first img{
        width: 80%;
    }
    .first{
        align-items: center;
    }
    .th-img{
        width: 80%;
    }
    .sec2 img{
        margin-top: -130px;
        width: 80%;
    }
    .sec2 p{
        font-size: 16px;
        font-weight:400;
    }
    .first h2{
        font-size: 18px;
        font-weight: 500;
        margin-top: -24px;
    }
    .sec3 p{
        font-size: 16px;
        font-weight:400;
    }
    .text h1{
        font-size: 64px;
    }
    .sli{
        width: 200px;
        height: 400px;
    }
    #img img{
        border-radius: 24px;
    }
    .but-top1 button {
        font-size: 24px;
        margin: 24px;
        border: 0px;
        border-radius: 12px;
        padding: 8px 16px;
        box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.26);
        background-color: white;
        transition: 0.5s ease-in-out;
    }
    .but-top img {
        width: 24px;
        transform: rotate(-90deg);
    }
    .but1 {
        margin: 24px;
        padding: 8px 10px;
        background-color: white;
        border-radius: 12px;
    }
}
@media (max-width: 800px) {
    #h{
        display: none;
    }
    #hi{
        display: none;
    }
    #he{
        display: block;
    }
    .head-grup svg{
        margin: 0 16px;
    }
    .itemes{
        display: block;
        height: 0px;
        background-color: white;
        text-align: left;
        transition: 0.5s ease-in-out;
        overflow: hidden;
    }
    #he a{
        font-size: 28px;
        opacity: 0.8;
        font-weight: 600;
    }
    #he a:hover{
        font-size: 32px;
        opacity: 1;
    }
    .but-top {
        left: 82%;
    }
    #t11 {
        font-size: 32px;
    }
    .text-r{
        text-align: left;
        padding-block: 8px;
        max-width: 600px;
        height: auto;
        font-size: 18px;
    }
    .white iframe {
        border-radius: 48px;
        width: 100%;
        margin-bottom: 120px;
    }
}

@media (max-width: 500px) {
    .but {
        display: block;
    }
    .mob{
        display: block;
    }
    .a{
        margin-bottom: 24px;
    }
    .a-b{
        margin-bottom: 24px;
    }
    .a {
        padding: 12px 24px;
        font-size: 12px;
    }
    .a-b {
        padding: 12px 24px;
        font-size: 12px;
    }
    h3 {
        font-size: 48px;
    }
    .sec2 img {
        margin-top: -90px;
        width: 80%;
    }
    .footer-4 {
        display: block;
        margin: 0 auto;
        width: 188px;
    }
    .text h1 {
        font-size: 48px;
    }
    .watch {
        margin-top: 64px;
        width: 90%;
    }
    .t-img {
        width: 90%;
    }
}
@media (max-width: 400px) {
    .but-top {
        position: fixed;
        left: 78%;
    }
    .but-top1 {
        position: fixed;
        left: 0%;
    }
}
@media (max-height: 700px) {
    .but-top {
        position: fixed;
        top: 85%
    }
    .but-top1 {
        position: fixed;
        top: 85%
    }
}